<div id="navbar"
    class="gap-10 p-4 select-none bg-[#151515] h-screen flex flex-col w-96 absolute z-50 md:relative md:left-0 -left-full">
    <div class="flex items-center justify-center">
        <div class="text-white w-full ml-2 px-4 py-2 cursor-pointer border border-[#ffffff30] rounded-lg transition-all duration-300 bg-[#ffffff05] hover:bg-[#ffffff10]"
            id="navbar-profile">
            <a href="/">
                <div class="flex items-center gap-3">
                    <img src="" class="w-12 h-12 rounded-full" id="discord-profile-image" />
                    <div class="flex flex-col">
                        <p class="text-sm font-bold" id="discord-username">Loading...</p>
                        <p class="text-xs" id="discord-role">Loading...</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="flex flex-col items-center justify-center gap-2">
        <div class="text-white w-full ml-2 px-4 py-2 cursor-pointer border border-[#ffffff30] rounded-lg transition-all duration-300 bg-[#ffffff05] hover:bg-[#ffffff10]"
            id="path-routes">
            <a href="/routes">
                <p class="text-lg font-semibold">Routes</p>
            </a>
        </div>
        <div class="text-white w-full ml-2 px-4 py-2 cursor-pointer border border-[#ffffff30] rounded-lg transition-all duration-300 bg-[#ffffff05] hover:bg-[#ffffff10]"
            id="path-nodes">
            <a href="/nodes">
                <p class="text-lg font-semibold">Nodes</p>
            </a>
        </div>
        <div class="text-white w-full ml-2 px-4 py-2 cursor-pointer border border-[#ffffff30] rounded-lg transition-all duration-300 bg-[#ffffff05] hover:bg-[#ffffff10]"
            id="path-users" require-role="admin">
            <a href="/users">
                <p class="text-lg font-semibold">Users</p>
            </a>
        </div>
    </div>

    <script>
        const url = new URL(window.location.href).pathname;
        const navbarEntry = document.getElementById(`path-${url.split("/")[1]}`);

        if (!navbarEntry) {
            document.getElementById("navbar-profile").classList.add("bg-[#ffffff10]");
        } else {
            navbarEntry.classList.add("bg-[#ffffff10]");
        }

        (async () => {
            await new Promise((resolve) => setTimeout(resolve, 50));
            const openNavbar = document.getElementById("open-navbar");
            openNavbar.addEventListener("click", () => {
                const navbar = document.getElementById("navbar");
                
                navbar.classList.toggle("-left-full");
                navbar.classList.toggle("left-0");

                openNavbar.classList.toggle("rotate-180");
            });
        })();
    </script>
</div>