<script>
    let token = null,
        previousBody = null;

    function getCookie(key) {
        const cookies = document.cookie.split("; ");
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].split("=");
            if (cookie[0] === key) return cookie[1];
        }

        return null;
    }

    function parseJwt(token) {
        const base64Url = token.split(".")[1];
        const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
        const jsonPayload = decodeURIComponent(
            atob(base64)
                .split("")
                .map(function (c) {
                    return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
                })
                .join("")
        );

        return JSON.parse(jsonPayload);
    }

    function authFetch(url, options) {
        if (!token) token = getCookie("token");

        options.headers = {
            ...options.headers,
            Authorization: `Bearer ${token}`,
        };

        return fetch(url, options);
    }
</script>